{% extends "base.html" %}

{% block content %}
  <h1 class="text-center mt-3">Daromad Hisobi</h1>
<div class="card">
  <div class="card-header">
    <form action="" class="d-flex justify-content-between align-items-center gap-3">
      <div class="w-100">
        <label for="startDate">Boshlanish sanasi</label>
        <input type="date" class="form-control" id="startDate" placeholder="Boshlanish sanasi">
      </div>
      <div class="w-100">
        <label for="endDate">Tugash sanasi</label>
        <input type="date" class="form-control" id="endDate" placeholder="Tugash sanasi">
      </div>
      <button class="btn btn-primary mt-4" id="calculateIncome">Hisoblash</button>
    </form>
  </div>
  <div class="card-body">
    <h3>Hisoblangan daromad</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>TUR</th>
      <th>SUMMA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Xarid</td>
      <td>{{ expence_sum }} so'm</td>
    </tr>
    <tr>
      <td>Chiqim</td>
      <td>{{output_sum}} so'm</td>
    </tr>
    <tr>
      <td>Xodim to'lovlari</td>
      <td>{{staff_payment_sum}} so'm</td>
    </tr>
    <tr>
      <td>Sotilgan kitoblar summasi</td>
      <td>{{sell_sum}} so'm</td>
    </tr>
    <tr>
    {% if profit < 0 %}
<tr class="alert alert-danger">
    <td>Zarar</td>
    <td class="text-danger">{{ profit }} so'm</td>
</tr>
{% else %}
<tr class="alert alert-success">
    <td>Foyda</td>
    <td class="text-success">{{ profit }} so'm</td>
</tr>
{% endif %}
    </tr>
  </tbody>
</table>

  </div>
</div>

{% endblock content %}