{% extends "base.html" %}

{% block content %}
<div class="card mt-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Kitoblar</h3>
        <a href="{% url 'book_create' %}" class="btn btn-primary">Kitob qo'shish</a>
    </div>
    <div class="card-body">
        {% for book in books %}
        <div class="card">
            <img src="" alt="">
            <h4>{{ book.name }}</h4>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
